html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: 1.3;
}

h1,
h2,
h4,
h5,
h6 {
  padding: 0.2em 1rem;
}

ol,
ul {
  margin: 0em 1rem;
}

li {
  list-style-position: inside;
}

button {
  font-weight: bold;
  padding: 0.2em;
  margin: 0.2em;
  border: 1px solid white;
  border-radius: 0.3em;
  background-color: transparent;
}

a {
  margin: 0.2em;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
