.nav {
    background-color: rgb(104, 73, 73);
    padding: 10px;
  }
  
  .nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  .nav li {
    display: inline;
    margin: 0 10px;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  