.home {
  text-align: center;
  background-color: rgb(123, 123, 202);

}

.header {
  position: relative;
  width: 100%;
  height: 300px; /* Adjust the height as needed */
  background-image: url('../../../public/images/header-img.jpg'); /* Update with your image path */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.headerText {
  position: absolute;
  text-align: center;
}

.header h1 {
  font-size: 3rem;
  margin: 0;
}

.header p {
  font-size: 1.5rem;
}

.latestProductsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .header {
    height: 300px;
  }

  .header h1 {
    font-size: 2.5rem;
  }

  .header p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .header {
    height: 200px;
  }

  .header h1 {
    font-size: 2rem;
  }

  .header p {
    font-size: 1rem;
  }
}
