.product {
    margin: 2em;
    border: 3px solid brown;
}

.imageWrap {
    width: 250px;
    height: 250px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.image-wrap>img {
    max-width: 100%;
}

.btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }