.catalog {
  background-color: lightgray;
    box-shadow: 0px 0px 40px 0px;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    width: 100;
}

.no-products {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
}
