.footer {
  background-color: rgb(94, 75, 177);
  color: white;
  text-align: center;
  padding: 10px 10px;
  flex-grow: 0;
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }

  .footer p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .footer p {
    font-size: 0.8rem;
  }
}
