.footer {
  background-color: rgb(142, 139, 156);
  color: white;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }

  .footer p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .footer p {
    font-size: 0.8rem;
  }
}
